
<div class="orderDetail" *ngFor="let order of orders">
  <h2 class="orderDetail--title"> <i class="fas fa-cart-arrow-down" routerLink="/order"></i> / List orders</h2>
  <h2></h2>
  <div class="info--user">
    <h1> <a class="info--number">1</a> User information</h1>
    <p class="info--name-user"><strong>Name</strong> : {{order.info.name}}</p>
    <p class="info--address"> <strong>Address</strong>: {{order.info.address}}</p>
    <p class="info--phone"> <strong>Phone</strong>: {{order.info.phone}}</p>
  </div>
  <div class="info--flower" >
    <h1><a class="info--number">2</a> Product information</h1>
    <table class="info--table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Quantity</th>
        <th>Total Price</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let flower of order.flowers">
        <td>{{flower.name}}</td>
        <td><img src="{{flower.image}}" class="image"></td>
        <td>{{flower.quantity}}</td>
        <td>{{flower.price}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
  </div>
  <div>
    <!--    <h2 class="totalPrice"> <strong>Tổng tiền </strong>: {{flower.price | currency: 'VND':true:'1.0'}}</h2>-->
  </div>
</div>
