<div class="box-cart">
  <h1 class="cart-title"> <i class="fas fa-home" routerLink="/home"></i> / Your shopping bag</h1>
  <div class="cart">
    <div class="table--header">
      <div class="col description">Description</div>
      <div class="col price">Price</div>
      <div class="col quantity"> Quantity</div>
      <div class="col delete" (click)="clearCart()" routerLink="/cart"> Action </div>
    </div>
    <div class="table--body" *ngFor="let flower of data">
      <div class="col description">
        <img src="{{flower.image}}" class="image">
        <h3 class="name"> {{flower.name}}</h3>
      </div>
      <div class="col price">{{flower.price}}</div>
      <div class="col quantity"><button type="button" class="btn minus" (click)="increaseQuantity(flower.quantity, flower.id)">+</button>{{flower.quantity}} <button type="button" class="btn plus">-</button></div>
      <div class="col delete"> <button class="btn-delete" (click)="DeleteItem(flower.id)"><i class="fas fa-minus-circle"></i></button></div>
    </div>
    <div class="table--totalPrice">
      <p> Total price: {{this.total| currency: 'VND':true:'1.0'}}</p>
    </div>
    <div class="table--shopping-checkout">
      <button type ="submit" class="btn green" routerLink="/home">Back shopping</button>
      <button type ="submit" class="btn red" routerLink="/checkout">Checkout</button>
    </div>
  </div>

</div>
