/* You can add global styles to this file, and also import other style files */

@media only screen and (max-width: 600px) {
  .homepage{
    margin-left: -5px!important;
    padding: 0!important;
  }
  .gridImage--col1{
    width: 100% !important;
    margin: 0!important;
  }
  .gridImage--col2{
    width: 100% !important;
    margin: 0!important;
  }
  .list-flower{
    width: 100% !important;
    margin: 0!important;
    grid-template-columns: 1fr 1fr 1fr!important;
    grid-row-gap: 20px!important;
    grid-column-gap: 20px!important;
  }
  .gallery--image{
    display: grid!important;
    grid-row-gap: 20px!important;
    grid-template-columns: 1fr 1fr 1fr!important;
  }
  .box--gallery {
    width: 100% !important;
    text-align: center;
    margin: 3% 0 5% 0 !important;
  }
  .footer--item{
    display: grid!important;
    grid-template-columns: 1fr 1fr!important;
  }
  .signup--form{
    width: 100% !important;
    margin: 0!important;
  }
  .header--second .menu{
    width: 100% !important;
    margin: 0!important;
  }
  .context p{
    font-size: 1rem;
  }
  .context h1{
    font-size: 1.5rem;
  }
  .checkout{
    width: 100% !important;
    margin:0!important;
  }
  .listOrder{
    width: 95% !important;
    margin:0 auto!important;
    padding: 0!important;
  }
  .order-table{
    width: 100% !important;
    padding: 0!important;
    margin: 0!important;
  }
}
@media only screen and (max-width: 991px) {
  .homepage{
    margin-left: -5px!important;
    padding: 0!important;
  }
  .gridImage--col1{
    width: 100% !important;
    margin: 0!important;
  }
  .gridImage--col2{
    width: 100% !important;
    margin: 0!important;
  }
  .list-flower{
    width: 100% !important;
    margin: 0 0!important;
  }
  .box--gallery {
    width: 100% !important;
    text-align: center;
    margin: 3% 0 5% 0 !important;
  }
  .header--first{
    width: 100% !important;
    margin: 0!important;
  }
  .header--second .menu{
    width: 100% !important;
    margin: 0!important;
  }
  .footer--item{
    width: 100% !important;
    margin: 0!important;
  }
  .box-cart{
    width: 95% !important;
    margin: 0 auto!important;
  }
  .checkout{
    width: 100% !important;
    margin:0!important;
  }
  .listOrder{
    width: 95% !important;
    margin:0 auto!important;
    padding: 0!important;
  }
  .order-table{
    width: 100% !important;
    padding: 0!important;
    margin: 0!important;
  }
}
