<div class="box-cart">
  <ul class="breadcrumb">
    <li class="breadcrumb-item" ><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/cart">Cart </a></li>
  </ul>
  <h1 class="cart-title"> Your shopping bag</h1>
  <div class="cart-table">
    <div class="table--header">
      <div class="col description">Description</div>
      <div class="col price">Price</div>
      <div class="col quantity"> Quantity</div>
      <div class="col delete"> Delete
        <button (click)="clearCart()">Clear all</button>
      </div>
    </div>
    <div class="table--body" *ngFor="let data of dataCart">
      <div class="col description">
        <img src="{{data.image}}" class="image">
        <h3 class="name"> {{data.name}}</h3>
      </div>
      <div class="col price">{{data.price}}</div>
      <div class="col quantity">
        <button type="button" class="btn minus" (click)="onChangeQuantity(data.quantity, data.idFlower, true)">+</button>
        {{data.quantity}}
        <button type="button" class="btn plus" (click)="onChangeQuantity(data.quantity, data.idFlower, false)">-</button>
      </div>
      <div class="col delete">
        <button class="btn-delete" (click)="onDeleteItem(data.id)"><i class="fas fa-minus-circle"></i></button>
      </div>
    </div>
    <div class="table--totalPrice">
      <p> <strong>Total price: </strong>{{this.totalPrice| currency: 'VND':true:'1.0'}}</p>
    </div>
    <div class="table--shopping-checkout">
      <button type="submit" class="btn back-shopping" routerLink="/home">Back shopping</button>
      <button type="submit" class="btn checkout" routerLink="/checkout">Checkout</button>
    </div>
  </div>

</div>
